!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width)
    title RHoK - Random Hacks of Kindness

    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Raleway+Dots")

  body.coverflow
    .main
      article

        section(data-bespoke-hash='rhok')
          h1 RHoK
          ul
            li Random Hacks of Kindness

        section(data-bespoke-hash='hack-weekend')
          h2 Hack weekend
          p 2 days to design and develop a solution to a community problem

        section(data-bespoke-hash='hack-weekend')
          h2.bullet Hack weekend
          ul
            li Similar to Gov Hack, Space Apps Challenge, Angelhack...
          br
          h3.bullet But different...
          ul
            li less emphasis on competition
            li more emphasis on collaboration

        section(data-bespoke-hash='example-fgis')
          h2 Past projects...
          p FGIS - Fire ground information system
          p
            img(src="image25.png", height='200')

        section(data-bespoke-hash='example-resilience')
          h2 Past projects...
          p Resilience
          p
            img(src="image24.png", height='200') 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            img(src="res.jpg", height='200')

        section(data-bespoke-hash='example-open-food-foudation')
          h2 Past projects...
          p Open Food Foundation
          p
            img(src="off.png", height='200')            

        section(data-bespoke-hash='why')
          h2 Why
          p Work with people that are...
          ul
            li interesting
            li diverse
            li and who care...

        section(data-bespoke-hash='why')
          h2 Why
          p Create value

        section(data-bespoke-hash='why')
          h2 Why
          p learn
          ul
            li people with different skills
            li people from different industries

        section(data-bespoke-hash='who')
          h2 Who
          p all types of skills and experience:
          ul
            li mobile
            li web
            li embedded
            li designers
            li ba
            li lawyers

        section(data-bespoke-hash='when')
          h2 When
          p 7th &amp; 8th of December 

        section(data-bespoke-hash='where')
          h2 Where
          p Swinburne University

        section(data-bespoke-hash='more-info')
          h2 More Info
          p @rhokmelb

    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
